body
    +regular
img
    max-width: 100%
.button
    display: block
    width: 170px
    height: 50px
    border: 1px solid $text-color
    border-radius: 50px
    background-color: #ffffff
    font-size: 20px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
   

@media ( max-width: 768px)
    .button
        font-size: 15px



