.section
    &-title
        font-size: 40px
        text-transform: uppercase
        color: #707070
        text-align: center
        margin-bottom: 0
    &-image
        display: block
        width: 300px
        height: 37px
        margin: 20px auto
    &-subtitle
        display: block
        max-width: 700px
        font-size: 20px
        color: #707070
        margin: auto

