.contacts
    &-block
        color: $text-color
        display: flex
        justify-content: space-between
        margin-bottom: 50px
        +regular
        margin-left: 15px
        margin-right: 15px
        &__title
            text-align: left
            margin-bottom: 45px
        &__info
            margin-left: auto
            margin-right: 135px
            font-size: 25px
        &__input
            margin-left: 70px
            margin-right: auto
            font-size: 25px
            max-width: 650px
            max-height: 380px
        &__rowfirst
            position: relative
            display: flex
            justify-content: space-between

            input
                background: rgba(#f1f9fb, 0)
                border: 1px  solid $text-color
                width: 300px
                height: 50px
                margin-left: 50px
                font-size: 20px
                color: $text-color
                padding-left: 10px
                &:first-child
                    margin-left: 0px
        &__rowsecond
            display: block
            position: relative
            input
                background: rgba(#f1f9fb, 0)
                border: 1px  solid $text-color
                max-width: 650px
                margin-top: 50px
                margin-left: 0
                font-size: 20px
                color: $text-color
                padding-left: 10px

        .label 
            opacity: 0.3
            position: absolute
            z-index: -1
            +regular
            //top: 8px
            &__name
                left: 8px
            &__email
                left: 360px
            &__subject
                left: 208px
                top: 50px
            &__text
                left: 8px
                top: 148px

        &__subject
            height: 50px
        &__text
            background: rgba(#f1f9fb, 0)
            border: 1px  solid $text-color
            height: 100px
            width: 650px
            margin-top: 50px
            font-size: 20px
            color: $text-color
            padding-left: 10px
            resize: none
        &__line
            &:before
                content: ''
                width: 2px
                height: 100%
                background-color: $text-color
                display: block
        &__button
            margin-top: 50px
            float: right

@media ( max-width: 1024px)
    .contacts
        margin-bottom: 150px
        &-block
            display: block 
            text-align: center
            &__line
                &:before
                    content: ''
                    width: 100%
                    height: 2px
                    background-color: $text-color
                    display: block
            &__info
                margin: auto
            &__input
                margin: auto
            &__title
                text-align: center
                margin-top: 15px



@media ( max-width: 768px)
    .contacts
        margin-bottom: 175px
        &-block
            margin: auto 30px
            &__info
                font-size: 20px
            &__input
                font-size: 20px
            &__subject
                max-width: 100%
                margin-right: 30px
                font-size: 15px
            &__text
                max-width: 100%
                margin-right: 30px
            &__rowfirst
                display: block
                justify-content: center
                input
                    margin-bottom: 20px
                    margin-left: 0
            .label
                font-size: 20px 
                &__name
                    top: 5px
                    left: 8px
                &__email
                    left: 8px
                &__subject
                    left: 8px
                    top: 50px
                &__text
                    left: 8px
                    top: 148px
  
  
@media ( max-width: 1024px)
    .contacts
        margin-bottom: 150px
        &-block
            display: block 
            text-align: center
            &__line
                &:before
                    content: ''
                    width: 100%
                    height: 2px
                    background-color: $text-color
                    display: block
            &__info
                margin: auto
            &__input
                margin: auto
            &__title
                text-align: center
                margin-top: 15px



@media ( max-width: 768px)
    .contacts
        margin-bottom: 175px
        &-block
            margin: auto 30px
            &__info
                font-size: 20px
            &__input
                font-size: 20px
            &__subject
                max-width: 100%
                margin-right: 30px
                font-size: 15px
            &__text
                max-width: 100%
                margin-right: 30px
            &__rowfirst
                display: block
                justify-content: center
                input
                    margin-bottom: 20px
                    margin-left: 0
            .label
                font-size: 20px 
                &__name
                    top: 5px
                    left: 8px
                &__email
                    left: 8px
                &__subject
                    left: 8px
                    top: 50px
                &__text
                    left: 8px
                    top: 148px

