.hero
    background: #fff url('../img/hero/gt_landing_bg-01.png') no-repeat center
    background-size: cover
    padding-top: 345px 
    padding-bottom: 345px 
    color: $text-color

    &__title
        font-size: 40px
        font-weight: 600px
        letter-spacing: 1.2px
        margin: 50px 58px
    &-subtitle
        display: block
        font-size: 20px
        font-weight: 600px
        letter-spacing: 0.6px
        &__up
            top: 0
        &__down
            margin-left: 20px
            margin-right: 20px
    &__button
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        margin: 50px auto
        &:hover
            background-color: #1C2D37
            color: #ffffff

    a
        text-decoration: none
        color: $text-color

@media ( max-width: 820px)
    .hero
        &-subtitle
            font-size: 15px
        &__title
            font-size: 30px



        
        

        